

section {
  padding : 10px;
  border: 1px solid grey;
  word-spacing: -0.25em;
}

p {
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  width: 25%;
  padding: .5em;
  border: 1px solid grey;
}
