html{
    font-style: normal;
    font-family: Arial, Tahoma, sans-serif;
}
body{
    padding: 0.75rem;
}
p, .p{
    display: block;
    margin-top: 0;
    margin-bottom: 0.90rem;
}

/*
################################################################
###     Les titres                                           ###
################################################################
*/

h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6{
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: black;
}

h1, .h1{
    font-size: 2.50rem;
}

h2, .h2{
    font-size: 2rem;
}
h3, .h3{
    font-size: 1.75rem;
}
h4, .h4{
    font-size: 1.50rem;
}
h5, .h5{
    font-size: 1.25rem;
}
h6, .h6{
    font-size: 1rem;
}

/*
################################################################
###     Les Balises De Text Inline                           ###
################################################################
*/

small, .small{
    font-size: 0.80em;
    color: rgb(114, 113, 113);
}

mark, .mark{
    background-color: chartreuse;
}

blockquote,.blockquote{
    margin:0;
}
blockquote p, .blockquote {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
blockquote p::before, .blockquote::before {
    content: '\201C';
}

blockquote p::after, .blockquote::after {
    content: '\201D';
}

q,.q{
    font-style:italic;
}
q::before, .q::before{
    content: "\201C"
}
q::after, .q::after{
    content: "\201D";
}

del, .del {
    text-decoration: line-through;
    background-color: rgb(230, 116, 116);
    color: rgb(55, 55, 55);
}
ins, .ins {
    text-decoration: none;
    background-color: rgb(97, 209, 116);
    color: rgb(55, 55, 55);
}
u,.u{
    text-decoration: underline;
}
strong,.strong{
    font-weight: bold;
}
em,.em{
    font-weight: 500;
    font-style: italic;
}
abbr,.abbr {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 100;
}
code,.code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
    white-space: pre;
}
kbd,.kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    font-family: courier, monospace;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
/*
Voici la source de ce code: https://developer.mozilla.org/fr/docs/Web/HTML/Element/kbd
*/

pre,.pre{
    margin: 0;
    white-space: pre;
    font-family: courier, monospace;
}


/*
################################################################
###     Les alignements                                      ###
################################################################
*/

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.align-justify{
    text-align: justify;
}


/*
################################################################
###     Les Transformations                                  ###
################################################################
*/

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}


/*
################################################################
###     Les Listes                                           ###
################################################################
*/
ul{
    margin: 10px;
}
li,.li{
    display: list-item;
    list-style-type:disc;
}
.li-square{
    list-style-type: square;
}
.li-none{
    list-style-type: none;
}

/* 
################################################################
###     Les couleurs                                         ###
################################################################
*/

.bg-black{
    background-color: black;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}

.txt-black{
    color: black;
}
.txt-white{
    color: white;
}
.txt-blue{
    color:blue
}
.txt-red{
    color:red
}
.txt-green{
    color: green;
}


