html,body{
    margin:0;
    padding:0;
}
ul{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c49d32;
}
li{
    list-style-type: none;
    font-size: 2rem;
    line-height: 3rem; 
    text-align: center;
    
}

li a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #aa8621;
}
li #bistrot{
    border-bottom: none;
}

@media screen and (min-width: 600px){
    ul{
        flex-direction: row;
        justify-content: space-around;
    }
    li a{
        border-bottom: none
    }
}
@media screen and (min-width: 992px){
    ul{
        justify-content: flex-end;
    }
}
