.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 30em;
}
p{
    
    height: 8em;
    /*margin-left: 1%;*/
}
.item{
    order: 3;
    flex-basis: 12%;
    flex-grow: 1;
}
.un{
    order: 2;
}
.ci{
    order: 1;
    flex-grow: 5;
    background-color: khaki;
}
