header>span>img, header>span>h1{
    display: inline;
}
.list-logos>li{
    display: inline;
}

header{
    margin-right: 2%;
    padding: 2%;
    box-shadow: 3px 3px 3px grey;
}
header>span>h1{
    font-size: 2.5rem;
    margin-left: 3%;
    font-family: 'open_sansextrabold';
}
header>ul>li>img{
    height:1em;
    width:1em;
    margin:0.5rem;
}
small{
    font-size: 1.5rem;
    font-family: 'open_sansregular';
    color: grey;
    margin-top: 20px;
}
.menu{
    color: orange;
}
.menu>h2{
    font-size: 1.5rem;
    margin-left: 3%;
    font-family: 'open_sansextrabold';
}
.menu-titre{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.menu-item{
    margin-left: 4.2rem;
}
.menu-item>img{
    color:orange;
    border-color: orange;
}
/*
################################
##        Media queries       ##
################################
*/
@media (max-width : 612px) {
    @for $i from 1 through $nb-columns{
        .col-xs-#{$i}{
            width : ($one-column-width*$i) + ($gutter * ($i))!important;
            @include col;
        }
    }
}

/*
################################
##         Text align         ##
################################
*/

@each $name, $position in $text-align-positions{
    .text-align-#{$name}{
        @include text-align($position);
    }
}
@each $name, $position in $align-items-positions{
    .align-items-#{$name}{
        @include text-align($position);
    }
}
@each $name, $position in $vertical-align-positions{
    .vertical-align-#{$name}{
        @include vertical-align($position);
    }
}
