header>img, header>h1{
    display: inline;
}
ul>li{
    display: inline;
}

header{
    margin-right: 2%;
    padding: 2%;
    box-shadow: 3px 3px 3px grey;
}
/*
################################
##        Media queries       ##
################################
*/
@media (max-width : 612px) {
    @for $i from 1 through $nb-columns{
        .col-xs-#{$i}{
            width : ($one-column-width*$i) + ($gutter * ($i))!important;
            @include col;
        }
    }
}

/*
################################
##         Text align         ##
################################
*/

@each $name, $position in $text-align-positions{
    .text-align-#{$name}{
        @include text-align($position);
    }
}
