$width: 100%;
$height:auto;
$font-size: 1.5rem;
$padding: 20px;
$margin-bottom: 15px;

@mixin alert-structure{
    width: $width;
    height: $height;
    display:block;
}

@mixin alert-specifications($color){
    font-size: $font-size;
    padding: $padding;
    margin-bottom: $margin-bottom;
    color : $color;

}

@mixin alert($type){
    @include alert-structure;
    @if($type == "success"){
        $color : green;
    };
    @include alert-specifications($color);
}

.alert-success{
    @include alert("success");
}


$color: white !default;
$bg-color-success:green !default;
$bg-color-danger:red !default;
$bg-color-info: blue !default;
$bg-color-avertissement: orange !default;

.alert-success{
    @include alert;
    background-color: $bg-color-success;
    color: $color;
}
.alert-danger{
    @include alert;
    background-color: $bg-color-danger;
    color: $color;
}
.alert-info{
    @include alert;
    background-color: $bg-color-info;
    color: $color;
}
.alert-avertissement{
    @include alert;
    background-color: $bg-color-avertissement;
    color: $color;
}