@mixin btn-structure($tall){
    @if $tall == "small"{
        padding : $btn-padding-small;
        font-size: $btn-font-size-small;
        line-height: $btn-line-height-small;
    }
    @if $tall =="medium"{
        padding : $btn-padding-medium;
        font-size: $btn-font-size-medium;
        line-height: $btn-line-height;
    }
    @if $tall =="large"{
        padding : $btn-padding-large;
        font-size: $btn-font-size-large;
        line-height: $btn-line-height;
    }

}

@mixin btn-color($color, $background-color){
    color : $color;
    background-color: $background-color;
    @if background-color != none{
        border-color: darken($background-color,20%);
    }@else {
        border-color: $color;
    }
    
}

@mixin btn-type($type){
    @if $type == "classic"{
        border-radius: $btn-border-radius;
        border-style: $btn-border-style;
        border-width: $btn-border-width;
    }
    @if $type == "flat"{
        border-radius: 0px;
        border-style: $btn-border-style;
        border-width: $btn-border-width;
    }
    @if $type == "fancy"{
        /* Une ombre et un dégradé vers l'ombre ? */
    }
    @if $type == "outline"{
        /* Border color = color et pas de background */
        background-color: none;
        border-radius: 0px;
        border-style: $btn-border-style;
        border-width: $btn-border-width;
    }
}