$red: rgb(255,0,0) !default;
$green: rgb(0,255,0) !default;
$blue: rgb(0,0,255) !default;
$black: rgb(0,0,0) !default;
$white: rgb(255,255,255) !default;


$colors: (
    "red" : $red,
    "green" : $green,
    "blue": $blue,
    "black": $black,
    "white": $white
) !default;

$primary: $blue !default;
$success: $green !default;
$danger: $red !default;
$dark : $black !default;
$light : $white !default;

$themes-colors: (
    "primary" : $primary,
    "success" : $success,
    "danger" : $danger,
    "dark" : $dark,
    "light" : $light
) !default;



/*
#######################################
##              Alertes              ##
#######################################
*/
$alert-font-size : 1.5rem !default;
$alert-padding : 20px !default;
$alert-margin : 0 !default;
$alert-margin-bottom : 15px !default;

$alert-height: auto !default;
$alert-width: calc(100% - ( 2 * $alert-padding )) !default;
$alert-display : block;

$alert-color : white !default;
$alert-background-color : grey !default;

/*
#######################################
##              Boutons              ##
#######################################
*/
$btn-padding : 0.45rem 0.90rem !default;
$btn-border-radius : 0.4rem !default;
$btn-line-height : 1.25rem !default;
$btn-border-width : 2px !default;
$btn-border-style : solid !default;

$btn-font-size-small: 0.80rem !default;
$btn-padding-small: 0.30rem 0.60rem !default;
$btn-line-height-small : 1rem !default;

$btn-font-size-medium: 1rem !default;
$btn-padding-medium: $btn-padding !default;

$btn-font-size-large: 1.25rem !default;
$btn-padding-large: 0.60rem 1.20rem !default;

$btn-border-color : rgb(11, 11, 126);
$btn-background-color : $primary;
$btn-color : $white;

/*
#######################################
##              Navbar               ##
#######################################
*/

$flex-ul-margin : 0;
$flex-ul-padding : 0;
$flex-ul-justify-content : space-around;