@charset "UTF-8";
/* Penser a mettre un reboot ici */
html, body {
  margin: 0;
  padding: 0;
}

/*
#######################################
##              Alertes              ##
#######################################
*/
/*
#######################################
##              Boutons              ##
#######################################
*/
/*
#######################################
##              Navbar               ##
#######################################
*/
/* 
.flex-nav
.flex-ul
.flex-li
.flex-link
*/
.text-red {
  color: red;
}

.text-green {
  color: lime;
}

.text-blue {
  color: blue;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.alert-primary {
  width: calc(100% - 40px);
  height: auto;
  display: block;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 15px;
  color: white;
  background-color: blue;
}

.btn-primary.btn-classic, .btn {
  color: white;
  background-color: blue;
  border-color: #000099;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
}

.btn-primary.btn-flat, .btn-flat.btn {
  color: white;
  background-color: blue;
  border-color: #000099;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
}

.btn-primary.btn-fancy, .btn-fancy.btn {
  color: white;
  background-color: blue;
  border-color: #000099;
  /* Une ombre et un dégradé vers l'ombre ? */
  box-shadow: 5px 5px 5px blue;
}

.btn-primary:hover, .btn:hover {
  background-color: #000099;
}

.flex-ul-primary {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

.alert-success {
  width: calc(100% - 40px);
  height: auto;
  display: block;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 15px;
  color: white;
  background-color: lime;
}

.btn-success.btn-classic, .btn-success.btn {
  color: white;
  background-color: lime;
  border-color: #009900;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
}

.btn-success.btn-flat {
  color: white;
  background-color: lime;
  border-color: #009900;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
}

.btn-success.btn-fancy {
  color: white;
  background-color: lime;
  border-color: #009900;
  /* Une ombre et un dégradé vers l'ombre ? */
  box-shadow: 5px 5px 5px lime;
}

.btn-success:hover {
  background-color: #009900;
}

.flex-ul-success {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: lime;
}

.alert-danger {
  width: calc(100% - 40px);
  height: auto;
  display: block;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 15px;
  color: white;
  background-color: red;
}

.btn-danger.btn-classic, .btn-danger.btn {
  color: white;
  background-color: red;
  border-color: #990000;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
}

.btn-danger.btn-flat {
  color: white;
  background-color: red;
  border-color: #990000;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
}

.btn-danger.btn-fancy {
  color: white;
  background-color: red;
  border-color: #990000;
  /* Une ombre et un dégradé vers l'ombre ? */
  box-shadow: 5px 5px 5px red;
}

.btn-danger:hover {
  background-color: #990000;
}

.flex-ul-danger {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}

.alert-dark {
  width: calc(100% - 40px);
  height: auto;
  display: block;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 15px;
  color: white;
  background-color: black;
}

.btn-dark.btn-classic, .btn-dark.btn {
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
}

.btn-dark.btn-flat {
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
}

.btn-dark.btn-fancy {
  color: white;
  background-color: black;
  border-color: black;
  /* Une ombre et un dégradé vers l'ombre ? */
  box-shadow: 5px 5px 5px black;
}

.btn-dark:hover {
  background-color: black;
}

.flex-ul-dark {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.alert-light {
  width: calc(100% - 40px);
  height: auto;
  display: block;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 15px;
  color: black;
  background-color: white;
}

.btn-light.btn-classic, .btn-light.btn {
  color: black;
  background-color: white;
  border-color: #cccccc;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 2px;
}

.btn-light.btn-flat {
  color: black;
  background-color: white;
  border-color: #cccccc;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
}

.btn-light.btn-fancy {
  color: black;
  background-color: white;
  border-color: #cccccc;
  /* Une ombre et un dégradé vers l'ombre ? */
  box-shadow: 5px 5px 5px white;
}

.btn-light:hover {
  background-color: #cccccc;
}

.flex-ul-light {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.btn-small {
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  line-height: 1rem;
}

.btn-medium, .btn {
  padding: 0.45rem 0.9rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.btn-large {
  padding: 0.6rem 1.2rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.flex-ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

.flex-li {
  list-style-type: none;
  text-align: center;
  margin: 15px;
  text-decoration: none;
}
.flex-li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 720px) {
  .flex-ul-primary {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    flex-direction: column;
  }

  .flex-ul-success {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lime;
    flex-direction: column;
  }

  .flex-ul-danger {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    flex-direction: column;
  }

  .flex-ul-dark {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    flex-direction: column;
  }

  .flex-ul-light {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    flex-direction: column;
  }
}

/*# sourceMappingURL=framework.css.map */
